<div class="container">
  <div class="row">
    <div class="col">
      <h2>Edit Book</h2>
      <%= form_with model:@book, local:true |f| do %>
      <h2>title</h2>
      <%= f.text_field:title %>
      <h2>body</h2>
      <%= f.text_area:body %>
      <%= f.submit"Update Book",class:"btn btn-success" %>
      <%= link_to "Show",book_path(@book.id),class:"btn btn-success" %>
       |
      <%= link_to "Back",books_path, class:"btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>